.dib{
    display: inline-block;
}
.hide{
    display: none;
}
/*公共顶部样式开始*/
.top{
    background-color: #333;
    color: #fff;
    height:40px;
    line-height: 40px;
    overflow: hidden;
    letter-spacing: 2px;
}
.top_left_div{
    height:40px;
    display:inline-block;
    margin-left:20px;
    font-size: 16px;
}
.top_right_div{
    height:40px;
    display:inline-block;
    float: right;
    margin-right:20px;
}
.top a{
    color: #fff;
}
.user_name{
    margin-right:30px;
}
.slogan{
    font-size: 12px;
    margin-left: 20px;
}
/*公共顶部样式结束*/
/*侧边栏样式开始*/
.common_body{
    width: 100%;
    min-width: 1200px;
    overflow: hidden;
}
.common_sidebar{
    width:200px;
    height: 100%;
    background-color:rgba(238,238,238,0.98);
    position: absolute;
}
.common_sidebar_ul li{
    height: 40px;
    line-height: 40px;
    list-style: none;
    color:#333;  
    border-bottom:solid #e5e5e5 1px;
    padding-left:20px;
    font-size:14px;
}
.common_sidebar_ul li a{
    color: #333;
    text-decoration: none;
}
/*侧边栏样式结束*/
/*主要内容区域开始*/
.common_content{
    margin-left: 200px;
    height: 100%;   
}
.common_show_content{
    /*width: 1300px;*/
    width: 100%;
    margin: 0px auto;
    border:solid 1px #fff;
}
/*主要内容区域结束*/
/*标签背景色开始*/
.tag{
    display: inline-block;
    padding: 5px 10px;
    color:#FFF;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 5px;
}
.color_1{
    background-color: #71a532;
}
.color_2{
    background-color: #ff9900;
}
.color_3{
    background-color: #8c49ad;
}
.color_4{
    background-color: #e7769e;
}
.color_5{
    background-color: #a98659;
}
.color_6{
    background-color: #63B6F7;
}'
/*标签背景色结束*/